.social-widget{
	--sw-heading-color : #000;
	--sw-heading-text-align : center;
	--sw-heading-font-size : 18px;
	--sw-heading-font-weight : 500;
	--sw-item-border-radius : 3px;
	--sw-item-no-of-columns : 5;
	--sw-item-gutter : 2px;
	--sw-overlay-bg : red;
	--sw-overlay-opacity : 0.3;
	--sw-overlay-color : #fff;
	--sw-overlay-font-size :14px;
	*, *::before, *::after{
		box-sizing: border-box;
	}
	display: block;
	width: 100%;
	.sw-instagram{
		
		&-header{
			&-title{
				text-align:var(--sw-heading-text-align);
				color: var(--sw-heading-color);
				font-size: var(--sw-heading-font-size);
				font-weight: var(--sw-heading-font-weight);
				font-style: normal;
				padding: 0 0 20px 0;
				font-weight: normal;
			}
		}
		&-body{
			display: block;
			position: relative;
		}
		&-nav{
			position: absolute;
			display: block;
			line-height: 0px;
			font-size: 0px;
			background: transparent;
			color: transparent;
			top: 50%;
			transform: translate(0, -50%);
			padding: 0;
			border: none;
			outline: none;
			width: 40px;
			height: 40px;
			background-color: #fff;
			border-radius: 50%;
			z-index: 100;
			text-align: center;
			cursor: pointer;
			svg{
				width: 12px;
				color: #555;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
			}
			&:hover, &:focus {
				outline: none;
			}
			&.nav-prev{
				left: 25px;
			}
			&.nav-next{
				right: 25px;
			}
		}
		&-row{
			display: block;
			position: relative;
			&:after{
				content: '';
				display: table;
				clear: both;
			}
			&.sw-instagram-slider{
				.sw-instagram-col{
					width: 100%;
				}
			}
		}
		&-col{
			float: left;
			width: calc(100% / var(--sw-item-no-of-columns) );
			position: relative;
			padding: var(--sw-item-gutter);
		}
		&-item{
			width: 100%;
			display: block;
			position: relative;
			overflow: hidden;
			border-radius: var(--sw-item-border-radius);
			&:after{
				content: "";
				display: block;
				padding-bottom: 100%;
			}
			&-img{
				position: relative;
				height: 100%;
				width: 100%;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center center;
				position: absolute;
				z-index: 1;
				transition: all 1.5s ease;
			}
			&-overlay{
				opacity: 0;
				visibility: hidden;
				font-weight: 500;
				position: absolute;
				top: 0;
				text-align: center;
				width: 100%;
				height: 100%;
				z-index: 999;
				transition: all .5s ease-in-out;
				.sw-instagram{
					&-icon{
						color:  var(--sw-overlay-color);
						svg{
							width: 30px;
						}
					}
					&-bottom-icon{
						color:  var(--sw-overlay-color);
						position: absolute;
						right: 15px;
						bottom: 15px;
						svg{
							width: 30px;
						}
					}
					&-caption{
						color:  var(--sw-overlay-color);
						font-size: var(--sw-overlay-font-size);
						font-size: 13px;
						word-wrap: break-word;
						svg{
							width: 30px;
						}
					}
				}
				&-center-content{
					position: absolute;
					top: 40%;
					left: 0;
					width: 100%;
					text-align: center;
					z-index: 11;
				}
				&-content{
					position: relative;
					width: 100%;
					height: 100%;
					text-align: left;
					padding: 16px;
					z-index: 11;
				}
				&:before{
					content: '';
					z-index: 998;
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					z-index: 10;
					background: var(--sw-overlay-bg);
					opacity:var(--sw-overlay-opacity);
				}
			}
			&.sw-instagram{
				&-gray-layout{
					.sw-instagram-item{
						&-img{
							filter: grayscale(1);
						}
					}
					&:hover{
						.sw-instagram-item{
							&-img{
								filter: grayscale(0);
							}
						}
					}
				}
				&-default{
					.sw-instagram-item{
						&-overlay{
							
						}
					}
					&:hover{
						.sw-instagram-item{
							&-overlay{
								opacity: 1;
								visibility: visible;
							}
						}
					}
				}
			}
		}
	}
	.sw-instagram-preview{
		&-box{
			position: fixed;
			z-index: 99999;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			overflow: hidden auto;
			display: none;
			background-color: rgba(0,0,0,0.9);
			&.is-active{
				display: block;
			}
		}
		&-close{
			position: fixed;
			z-index: 999999;
			top: 15px;
			right: 45px;
			width: 32px;
			height: 32px;
			opacity: 0.3;
			cursor: pointer;
			&:hover {
			    opacity: 1;
			}

			&:before,
			&:after {
			    position: absolute;
			    left: 15px;
			    content: '';
			    height: 33px;
			    width: 2px;
			    background-color: #fff;
			}

			&:before {
			    transform: rotate(45deg);
			}

			&:after {
			    transform: rotate(-45deg);
			}
			  
		}
		&-nav{
			position: absolute;
			z-index: 99998;
			width: 20px;
			height: 30px;
			top: 49%;
			opacity: 0.5;
			cursor: pointer;
			&:hover{
				opacity: 1;
			}
			&:before,
			&:after {
				content: "";
				display: block;
				position: absolute;
				height: 100%;
				width: 100%;
			}
			&-next{
				right: -50px;
				&:before,
				&:after {
					border-right: solid 2px #fff;
					right: 0;
				}
				&:before {
					top: -50%;
					transform: rotate(-45deg);
					transform-origin: right bottom;
				}
				&:after {
					top: 50%;
					transform: rotate(45deg);
					transform-origin: right top;
				}
			}
			&-prev{
				left: -50px;
				&:before,
				&:after {
				    left: 0;
				    border-left: solid 2px #fff;
				}
				&:before {
				    top: -50%;
				    transform: rotate(45deg);
				    transform-origin: left bottom;
				}
				&:after {
				    top: 50%;
				    transform: rotate(-45deg);
				    transform-origin: left top;
				}
			}
		}
		&-container{
			margin: 140px auto;
			background: #fff;
			font-weight: 500;
			max-width: 100%;
			width: 1020px;
			position: relative;
			z-index: 99998;
			transition: all 5s ease-in-out;
			&:after{
				content: '';
				display: table;
				clear: both;
			}
		}
		&-image{
			width: 50%;
			float: left;
			img{
				opacity: 1;
				float: left;
				width: 100%;
				max-width: 100%!important;
			}
		}
		&-content{
			width: 50%;
			float: left;
			.sw-instagram{
				&-row{
					&:after{
						content: '';
						display: table;
						clear: both;
					}
				}
				&-author{
					padding-top: 12px;
					font-weight: 600;
					font-size: 14px;
					color: #555;
					text-decoration: none;
					float: left;
					&:hover{
						color: #555;
					}
				}
				&-follow{
					background: 0 0;
					border: 1px solid #3897f0 !important;
					color: #3897f0!important;
					padding: 3px 10px;
					font-size: 12px;
					border-radius: 3px;
					text-decoration: none;
					float: right;
				}
				&-date{
					float: right;
					font-size: 10px;
					text-transform: uppercase;
					letter-spacing: 0.4px;
					margin-top: -5px;
					line-height: 20px;
    				padding: 3px 8px;
					color: #555;
				}
				&-caption{
					overflow: hidden;
					font-size: 14px;
					line-height: 25px;
					padding: 10px 0;
					text-align: left;
					width: 100%;
					color: #000;
					word-wrap: break-word;
				}
				&-header{
					padding: 24px 16px 16px 16px;
					border-bottom: 1px solid #ddd;
				}
				&-body{
					padding: 16px 16px 16px 16px;
				}
			}
		}
	}
}
.social-widget-highlight {
    cursor: crosshair !important;
}

.social-widget-highlight.social-widget-highlight-invalid {
    cursor: not-allowed !important;
    outline: 1px solid red !important;
}

.social-widget-highlight.social-widget-highlight-invalid * {
    cursor: not-allowed !important
}

.social-widget-highlight-bottom {}

.social-widget-highlight-top {}

.social-widget-highlight {
    outline: 1px solid #0000ff24 !important;
}

.social-widget-highlight-top::before,
.social-widget-highlight-bottom::after {
    padding-top: 4.5px;
    padding-bottom: 4.5px;
    content: "insert here";
    text-align: center;
    width: 100%;
    font-weight: bold;
    display: block;
    background-color: #f0f2ff;
    outline: 4px dashed #1800ff;
    text-transform: uppercase;
    z-index: 1;
	position: relative;
}