<html lang="en">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    </head>

    <body>
        <div id="app">
            <hr>
            <div class="container p-5">
                <div class="row">
                    <template v-if="!checkDomainStatus">
                        <form class="col-xs-12" @submit.stop.prevent="checkDomain">
                            <div class="input-group">
                                <input  type="text" class="form-control" placeholder="domain" v-model.trim="domain">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" @click="checkDomain" type="button">Search</button>
                                </span>
                            </div>
                        </form>
                    </template>
                    <template v-else>
                        <template v-if="users">
                            <div class="col-xs-12">
                                {{domain}}
                            </div>
                            <div class="col-xs-12 ">
                                <div class="text-right">
                                    <button class="btn btn-primary" @click="reload()">Reload</button>
                                    <button class="btn btn-primary" @click="showModalChangePassword('')">Change Password</button>
                                    <button class="btn btn-primary" @click="kickAll()">Kick All</button>
                                    <button class="btn btn-primary" @click="checkOnline">Check Online</button>
                                </div>
                                <hr>
                            </div>
                            
                            <div class="col-xs-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered" >
                                        <thead>
                                            <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Time</th>
                                            <th scope="col" class="text-center">Status</th>
                                            <th scope="col" class="text-center">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <template v-if="users.length">
                                                <tr v-for="(user , index ) in users" :key="`index${index}`" >
                                                    <td >{{ index + 1}}</td>
                                                    <td>{{user.email}}</td>
                                                    <td>{{ user.time_logout | date_format}}</td>
                                                    <td class="text-center">
                                                        <template v-if="online.indexOf(user.email) >= 0">
                                                            <button class="btn btn-success btn-sm">is Online</button>
                                                        </template>
                                                        <template v-else>
                                                            <button class="btn btn-danger btn-sm">is Offline</button>
                                                        </template>
                                                    </td>
                                                    <td class="text-center">
                                                        <button class="btn btn-default btn-sm" @click="showModalChangePassword(user.email)">Change</button>
                                                        <button class="btn btn-default btn-sm" @click="logout(user.email)">Kick Off</button>
                                                    </td>
                                                </tr>
                                            </template>
                                            <template v-else>
                                                <tr>
                                                    <td colspan="5">
                                                        empty
                                                    </td>
                                                </tr>
                                            </template>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </template>
                    </template>
                </div>
            </div>
            <div class="modal fade" tabindex="-1" role="dialog" ref="modal_change_password">
                <div class="modal-dialog" role="document">
                    <form @submit.stop.prevent="changePasword" class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Change password</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" v-model="change_password.email" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" v-model="change_password.password" class="form-control">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
        <script src="https://iamsale.vn/resources/vendor/socket/socket.io.js"></script>
        <script>
            var socket = io("https://login.iamsale.vn:3000");
            const app = new Vue({
                el : '#app',
                data : {
                    users : [],
                    domain : 'iamsale.vn',
                    checkDomainStatus: false,
                    online : [],
                    change_password :{
                        email : '',
                        password : ''
                    }
                },
                methods:{
                    checkDomain(){
                        if( this.domain ){
                            socket.emit("who-partner-online", { hostname : this.domain})
                            socket.emit('user-is-login' , {
                                email : 'account_template@gmail.com',
                                hostname : this.domain,
                                ip : '192.168.1.1'
                            })
                        }
                    },
                    logout(email){
                        socket.emit('user-is-offline' , {
                            hostname : this.domain,
                            email : email,
                        })
                    },
                    kickAll(){
                        this.users.forEach((item)=>{
                            this.logout(item.email)
                        })
                        alert('kick all success')
                    },
                    checkOnline(){
                        console.log('emit who-online')
                        socket.emit('who-online' , { hostname : this.domain})
                    },
                    reload(){
                        window.location.reload()
                    },
                    showModalChangePassword(email){
                        this.change_password.email = email ;
                        this.change_password.password = '' ;
                        $(this.$refs.modal_change_password).modal('show')
                    },
                    changePasword(email){
                        $.post(`https://${this.domain}/reset/resetpassword`, {
                            password: this.change_password.password,
                            email:this.change_password.email
                        }, (res)=>{
                            console.log(res)
                            $(this.$refs.modal_change_password).modal('hide')
                        });
                    },
                    findIndex(email){
                        var position = -1 
                        for (let index = 0; index < this.users.length; index++) {
                            if( this.users.email == email){
                                position  = index
                            }
                        }
                        return position
                    }
                },
                filters:{
                    date_format(value){
                        return moment(value).format('h:mm:ss a ,DD-MM-YYYY')
                    }
                },
                mounted(){
                    socket.on('users-partner-online-moment' , (users) => {
                        var temp = []
                        for (const email in users) {
                            if (users.hasOwnProperty(email) && email != 'account_template@gmail.com' ) {
                                var element = users[email];
                                element['email'] = email
                                temp.push(element)
                            }
                        }
                        this.users = temp 
                        this.checkDomainStatus = true
                        this.checkOnline()
                    })
                    socket.on('users-online-moment' , (users)=>{
                        this.online = []
                        for (const email in users) {
                            if (users.hasOwnProperty(email) && email != 'account_template@gmail.com') {
                                const element = users[email];
                                if( element.hasOwnProperty('logouted') ){

                                }else{
                                    if( element.ip != '' ){
                                        this.online.push(email)
                                    }
                                }
                            }
                        }
                    })
                    socket.on('log-out-this-user-success' , (user)=>{
                        console.log(user.email)
                    })
                    socket.on('server-send-login-success', ()=>{
                        socket.emit('who-partner-online' , { hostname : this.domain})
                    })
                    socket.on('server-send-login-fail', ()=>{
                        console.log(' server-send-login-fail')
                    })
                }
            })
        </script>
    </body>

</html>
