<html lang="en">

    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>

    <body>
        <div id="app">
            <div class="container p-5">
                <div class="row">
                    <div class="col col-12">
                        <h3>hello</h3>
                    </div>
                    <form class="col col-6" @submit.stop.prevent="checkDomain">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="domain" v-model.trim="domain">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="submit">Search</button>
                            </div>
                        </div>
                    </form>
                    <hr>
                    <template v-if="users">
                        <div class="col col-12 m-b-2">
                            <div class="text-right">
                                <button class="btn btn-primary" @click="kickAll()">Kick All</button>
                                <button class="btn btn-primary" @click="checkOnline">Check Online</button>
                            </div>
                        </div>
                        <table class="table table-bordered" >
                            <thead>
                                <tr>
                                <th scope="col">#</th>
                                <th scope="col">Email</th>
                                <th scope="col">Time</th>
                                <th scope="col" class="text-right">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <template v-if="users.length">
                                    <tr v-for="(user , index ) in users" :key="`index${index}`" >
                                        <td >{{ index + 1}}</td>
                                        <td>{{user.email}}</td>
                                        <td>{{ user.time_logout | date_format}}</td>
                                        <td>
                                            <template v-if="isOnline(user.email)">
                                                <button class="btn btn-success btn-sm">is Online</button>
                                            </template>
                                            <template v-else>
                                                <button class="btn btn-warning btn-sm">is Offline</button>
                                            </template>
                                        </td>
                                        <td class="text-right">
                                            <button class="btn btn-danger btn-sm" @click="logout(user.email)">Off</button>
                                        </td>
                                    </tr>
                                </template>
                                <template v-else>
                                    <tr>
                                        <td colspan="3"></td>
                                    </tr>
                                </template>
                            </tbody>
                        </table>
                    </template>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
        <script src="https://iamsale.vn/resources/vendor/socket/socket.io.js"></script>
        <script>
            var socket = io("https://login.iamsale.vn:3000");
            const app = new Vue({
                el : '#app',
                data : {
                    users : null,
                    online : [],
                    domain : '',
                    socket : null
                },
                methods:{
                    checkDomain(){
                        if( this.domain ){
                            socket.emit("who-partner-online", { hostname : this.domain})
                            socket.emit('user-is-login' , {
                                email : 'account_template@gmail.com',
                                hostname : this.domain,
                                ip : '192.168.1.1'
                            })
                        }
                    },
                    logout(email){
                        socket.emit('user-is-offline' , {
                            hostname : this.domain,
                            email : email,
                            help : true,
                        })
                    },
                    kickAll(){
                        this.users.forEach((item)=>{
                            this.logout(item.email)
                        })
                        alert('kick all success')
                    },
                    checkOnline(){
                        socket.emit('who-online' , { hostname : this.domain})
                    },
                    isOnline(email){
                        return this.online.indexOf(email) >= 0
                    }
                },
                filters:{
                    date_format(value){
                        return moment(value).format('h:mm:ss a ,DD-MM-YYYY')
                    }
                },
                mounted(){
                    socket.on('users-partner-online-moment' , (users) => {
                        console.log('users-partner-online-moment')
                        var temp = Object.keys(users).map(function(key) {
                            var object = users[key]
                            object['email'] = key
                            return object
                        }).sort(function(a, b){return a.time_logout-b.time_logout})
                        this.users = temp 
                    })
                    socket.on('users-online-moment' , (users)=>{
                        console.log('users-online-moment')
                        console.log(users)
                        this.online = []
                        for (const key in users) {
                            if (users.hasOwnProperty(key)) {
                                const user = users[key];
                                if( user.hasOwnProperty('logouted') ){

                                }else{
                                    if( user.ip != '' ){
                                        this.online.push(key)
                                    } 
                                }
                                
                            }
                        }
                    })
                    socket.on('log-out-this-user-success' , (user)=>{
                        console.log(user.email)
                    })
                }
            })
        </script>
    </body>

</html>
