textarea{
	height: 200px;
	width: 100%;
	margin-top: 10px;
}
.app{
	padding: 30px 50px;
}

.d-inline-block{
	display: inline-block;
	margin-left: 15px;
}
select{
	width: 70px;
	display: inline-block;
}