.wrapper {
    .footer {
        background-color: #5b86e5;
        position: relative;
        &-bg {
            img {
                width: 100%;
            }
        }
        &-content {
            position: absolute;
            z-index: 1;
            top: 20%;
            left: 62%;
            width: 25%;
            &-title {
                font-size: 25px;
                max-width: 250px;
                margin-bottom: 20px;
            }
        }
        &-icon {
            margin: 0 5px 5px 5px;
            display: inline-block;
            img {
                width: 35px;
            }
        }
        &-copyright {
            text-align: center;
            color: #fff;
            padding: 15px 0;
            font-size: 12px;
        }
    }
}

@media(max-width: 1400px) {
    .wrapper {
        .footer {
            &-content {
                top: 15%;
            }
        }
    }
}

@media(max-width: 992px) {
    .wrapper {
        .footer {
            &-bg {
                img {
                    width: 100%;
                }
            }
            &-content {
                top: 10%;
                width: 30%;
                left: 55%;
                &-title {
                    font-size: 20px;
                    max-width: 250px;
                }
                &-btn {
                    border-radius: 22px;
                    height: 50px;
                    font-size: 20px;
                    line-height: 50px;
                    padding: 0 20px;
                    font-weight: bold;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    text-transform: uppercase;
                    margin-top: 20px;
                }
            }
            &-copyright {
                text-align: center;
                color: #fff;
                padding: 15px 0;
            }
        }
    }
}

@media(max-width: 768px) {
    .wrapper {
        .footer {
            &-content {
                position: relative;
                top: auto;
                left: auto;
                bottom: auto;
                right: auto;
                text-align: center;
                color: #fff;
                width: 100%;
                padding: 30px 15px;
                max-width: 350px;
                margin-left: auto;
                margin-right: auto;
                &-title {
                    font-size: 20px;
                    max-width: 100%;
                }
                &-btn {
                    border-radius: 22px;
                    height: 50px;
                    font-size: 20px;
                    line-height: 50px;
                    padding: 0 20px;
                    font-weight: bold;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    text-transform: uppercase;
                    margin-top: 20px;
                }
            }
            &-copyright {
                text-align: center;
                color: #fff;
                padding: 15px 0;
            }
        }
    }
}

@media(max-width: 576px) {
    .wrapper {
        .footer {
            &-content {
                position: relative;
                top: auto;
                left: auto;
                bottom: auto;
                right: auto;
                text-align: center;
                color: #fff;
                width: 100%;
                padding: 30px 15px;
                &-title {
                    font-size: 20px;
                    max-width: 100%;
                }
                &-btn {
                    border-radius: 22px;
                    height: 50px;
                    font-size: 20px;
                    line-height: 50px;
                    padding: 0 20px;
                    font-weight: bold;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    text-transform: uppercase;
                    margin-top: 20px;
                }
            }
            &-copyright {
                text-align: center;
                color: #fff;
                padding: 15px 0;
            }
        }
    }
}