.footer{
	background: #000;
	color:#fff;
	padding: 20px 0;
	.copyright{
		font-size: 13px;
		color:#fff;
		min-height: 40px;
		display: flex;
		align-items: center;
	}
	.navbar{
		padding: 0;
		margin: 0;
		ul{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			list-style: none;
			justify-content: flex-end;
			padding: 0;
			margin: 0;
			width: 100%;
			li{
				a{
					font-size: 13px;
					color:#ccc;
					font-weight: normal;
					min-height: 40px;
					display: flex;
					align-items: center;
					padding: 0 10px;
				}
			}
		}

	}
	@media(max-width:768px){
		.navbar{
			ul{
				justify-content: flex-start;
			}
		}
	}
}