.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
	z-index: 1000;
	&.header-fixed{
		top: -45px;
		.header{
			&-navbar{
				background: #ebe7d8;
				background-image: linear-gradient(to right, #e1ddce , #ebe9de);	
				.navbar{
					padding: 0;
					margin: 0;
					ul{
						padding: 5px 0;
					}
				}
			}
		}
	}
	.header{
		&-container{

		}
		&-top{
			background: $primary;
			
			.header-top-icons{
				padding-right: 40px;
			}
			&:after{
				@include clear;
			}
			a{
				color:#fff;
				line-height: 45px;
				font-size: 13px;
				i{
					margin-right: 10px;
					font-size: 15px;
				}
			}
			a + a{
				margin-left: 40px;
			}
			.header-toggle{
				width: 32px;
				height: 32px;
				display: none;
				padding: 5px;
				background: #fff;
				border: none;
				border-radius: 3px;
				flex: 0 0 50%;
				cursor: pointer;
				position: absolute;
				right: 5px;
				top: 5px;
				span{
					position: relative;
					display: block;
					height: 2px;
					width: 100%;
					background-color: $primary;
					user-select: none;
					transition: all 0.3s ease;
					&:before ,&:after{
						content: '';
						position: absolute;
						left: 0;
						top: 0;
						width: inherit;
						height: inherit;
						background-color: $primary;
						user-select: none;
						transition: all 0.3s ease;
					}
					&:before{
						transform: translateY(-7px);
					}
					&:after{
						transform: translateY(7px);
					}
				}
				&.is-active{
					span{
						background-color: transparent;
						&:before{
							transform: rotate(45deg);
						}
						&:after{
							transform: rotate(-45deg);
						}
					}
				}
			}
		}
		&-navbar{
			background: transparent;
			.navbar{
				padding: 0;
				margin: 0;
				ul{
					padding: 20px 0;
					margin: 0;
					display: flex;
					justify-content: space-between;
					flex-wrap: nowrap;
					width: 100%;
					list-style-type: none;
					transition: all 0.2s ease;
					li{
						display: inline-flex;
						padding: 6px 12px;
						min-height: 35px;
						align-items: center;
						&:first-child{
							padding-left: 0;
							a{
								text-align: left;
							}
						}
						a{
							display: block;
							text-align: center;
							font-size: 18px;
							font-weight: 400;
							color:$text;
							text-decoration: none;
							text-transform: uppercase;
							&:hover{
								color:$primary;
							}
						}
						&.is-active{
							a{
								font-weight: 500;
								color:$primary;
							}
						}
					}
				}
			}
		}
	}
}
@media(max-width:992px){
	.header{
		&.header-fixed{
			top: 0px;
			.header{
				&-navbar{
					background: #fff;
					.navbar{
						padding: 0;
						margin: 0 -15px;
						ul{
							padding: 20px 0;
						}
					}
				}
			}
		}
		.header{
			&-top{
				min-height: 45px;
				.header-toggle{
					display: block;
				}
			}
			&-navbar{
				background: transparent;
				position: fixed;
				z-index: 2000;
				top: 45px;
				left: -260px;
				bottom: 0;
				width: 260px;
				transition: all 0.2s ease;
				background: #fff ;
				overflow: hidden auto;
				&.is-active{
					left: 0;
				}
				.navbar{
					padding: 0;
					margin: 0 -15px;
					ul{
						flex-wrap: wrap;
						li{
							display: block;
							padding: 0;
							text-align: left;
							width: 100%;
							&.navbar-logo{
								margin-bottom: 20px;
								a{
									text-align: center;
									border: none;
									padding: 6px 15px;
									min-height: auto;
								}
							}
							&:last-child{
								a{
									border-bottom: 1px solid #ddd;
								}
							}
							a{
								display: flex;
								align-items: center;
								text-align: left;
								font-size: 18px;
								padding: 6px 15px;
								border-top: 1px solid #ddd;
								min-height: 60px;
							}
							&.is-active{
								a{
									font-weight: 500;
									color:$primary;
								}
							}
						}
					}
				}
			}
		}
	}
}
@media(max-width:450px){
	.header{
		.header{
			&-top{
				a{
					color:#fff;
					line-height: 15px;
					font-size: 13px;
					display: block;
					margin-top: 5px;
					i{
						margin-right: 10px;
						font-size: 15px;
					}
				}
				a + a{
					margin-left: 0px;
				}
			}
		}
	}
}